<div class="navbar bg-boatwatch no-border ">
    	<div class="navbar-inner">
    	  	<div class="left">
            	<a href="#" class="link back "> <i class="f7-icons" >chevron_left</i></a>
            </div>
    		<div class="center sliding  ">{{@global.LANGUAGE.ALARM_MSG06}}</div>
    		<div class="right sliding">    			
    			
    			<a href="#" class="link saveAlarm"><i class="f7-icons icon-header-apply"></i></a>
    		</div>
    	</div>
  	</div>

<div class="pages">
	<div class="page alarm_page" data-page="alarms.select">
        <div class="bottom-button-wrapper bg-white">
            <div class="bottom-button-content">
                <a href="tel:18446013500" target="_blank" class="external button button-fill bg-boatwatch call-button "><i class="f7-icons icon icon-other-call mr-8 text-color-black fs-17"></i>{{@global.LANGUAGE.MENU_MSG11}}</a>
            </div>            
        </div>
        
        <div class="page-content">
            <input type="hidden" name="Assets" value="{{Assets}}">

            
            <!-- <div class="content-block-title bw-li-switch  hintParent" data-hint-text="{{@global.LANGUAGE.PROMPT_MSG065}}" data-hint-title="{{@global.LANGUAGE.GEOFENCE_MSG_28}}">
                  <span class="showHint">{{@global.LANGUAGE.GEOFENCE_MSG_28}}</span>
                  <label class="label-switch">
                      <input type="checkbox" name="ignoreBetween" {{#if IgnoreBetween}} checked="checked" {{/if}}>
                      <div class="checkbox"></div>
                  </label> 
              </div> 
              
               
              <div class="list-block  list-block-input " >          
                  <ul> 
                      <li class="picker-el-wrapper {{#unless IgnoreBetween}} disabled {{/unless}}">
                          <a href="#" class="item-content item-link item-with-arrow">                               
                              <div class="item-inner">
                                  <div class="item-title label">{{@global.LANGUAGE.GEOFENCE_MSG_16}}</div>
                                  <div class="item-input">
                                      <input type="text" placeholder="{{@global.LANGUAGE.GEOFENCE_MSG_16}}" name="picker-from" class="picker-from" readonly value="{{BeginTime}}">
                                  </div>
                              </div>
                          </a>
                      </li>
                      <li class="picker-el-wrapper {{#unless IgnoreBetween}} disabled {{/unless}}">
                          <a href="#" class="item-content item-link item-with-arrow">                                
                              <div class="item-inner no-after">
                                  <div class="item-title label">{{@global.LANGUAGE.GEOFENCE_MSG_17}}</div>
                                  <div class="item-input  no-after">
                                      <input type="text" placeholder="{{@global.LANGUAGE.GEOFENCE_MSG_17}}" name="picker-to" class="picker-to" readonly value="{{EndTime}}">
                                  </div>
                              </div>
                          </a>
                      </li>
                      <li class="ignore-on-wrapper {{#unless IgnoreBetween}} disabled {{/unless}}">
                          <a href="#" class="item-link smart-select "  data-open-in="picker">                           
                              <select name="ignore-days"  multiple> 
                                  {{#each DaysOfWeek}}             
                                      <option value="{{val}}" {{#if selected}} selected {{/if}}>{{name}}</option>                                    
                                  {{/each}}  
                              </select>
                              <div class="item-content">
                                  <div class="item-inner ">                                    
                                      <div class="item-title label">{{@global.LANGUAGE.GEOFENCE_MSG_31}}</div>
                                  </div>
                              </div>
                          </a>
                      </li>                
                  </ul>
              </div>         -->  

            <div class="list-block no-hairline-top  media-list alarm_list">
                <ul>
                    <li class="item-divider alarm-radio-caption no-before pr-0"><span class="color-gray">{{@global.LANGUAGE.COM_MSG39}}</span><span class="color-green ">{{@global.LANGUAGE.COM_MSG40}}</span></li>
                    <li class="item-content">                       
                        <div class="item-inner pr-0"> 
                            <div class="item-title-row">
                                <div class="item-title">{{@global.LANGUAGE.ALARM_MSG05}}</div>
                                <div class="item-after align-items-center no-fastclick"> 
                                    <span class="custom-radio-wrapper color-gray">
                                        <input type="radio" class="input-checkbox-alarm" name="radio-geolock" value="1048" {{#unless geolock}} checked="checked"{{/unless}}>
                                    </span>
                                    <span class="custom-radio-wrapper color-green">
                                        <input type="radio" class="input-checkbox-alarm" name="radio-geolock" value="0"  {{#if geolock}}checked="checked"{{/if}}>
                                    </span>                                 
                                </div>
                            </div>                        
                        </div>
                    </li> 
                    <li class="item-content">                       
                        <div class="item-inner pr-0"> 
                            <div class="item-title-row">
                                <div class="item-title">{{@global.LANGUAGE.ALARM_MSG25}}</div>
                                <div class="item-after align-items-center no-fastclick">
                                    <span class="custom-radio-wrapper color-gray">
                                        <input type="radio" class="input-checkbox-alarm" name="radio-harshAcc" value="33554432" {{#unless harshAcc}} checked="checked"{{/unless}}>
                                    </span>
                                    <span class="custom-radio-wrapper color-green">
                                        <input type="radio" class="input-checkbox-alarm" name="radio-harshAcc" value="0"  {{#if harshAcc}}checked="checked"{{/if}}>
                                    </span>
                                    
                                </div>
                            </div>                        
                        </div>
                    </li> 
                    <li class="item-content">                       
                        <div class="item-inner pr-0"> 
                            <div class="item-title-row">
                                <div class="item-title">{{@global.LANGUAGE.ALARM_MSG26}}</div>
                                <div class="item-after align-items-center no-fastclick">
                                    <span class="custom-radio-wrapper color-gray">
                                        <input type="radio" class="input-checkbox-alarm" name="radio-harshBrk" value="2097152" {{#unless harshBrk}} checked="checked"{{/unless}}>
                                    </span>
                                    <span class="custom-radio-wrapper color-green">
                                        <input type="radio" class="input-checkbox-alarm" name="radio-harshBrk" value="0"  {{#if harshBrk}}checked="checked"{{/if}}>
                                    </span>
                                    
                                </div>
                            </div>                        
                        </div>
                    </li> 
                    <li class="item-content">                       
                        <div class="item-inner pr-0"> 
                            <div class="item-title-row">
                                <div class="item-title">{{@global.LANGUAGE.ALARM_MSG10}}</div>
                                <div class="item-after align-items-center no-fastclick">
                                    <span class="custom-radio-wrapper color-gray">
                                        <input type="radio" class="input-checkbox-alarm" name="radio-accOff" value="65536" {{#unless accOff}} checked="checked"{{/unless}}>
                                    </span>
                                    <span class="custom-radio-wrapper color-green">
                                        <input type="radio" class="input-checkbox-alarm" name="radio-accOff" value="0"  {{#if accOff}}checked="checked"{{/if}}>
                                    </span>
                                    
                                </div>
                            </div>                        
                        </div>
                    </li> 
                    <li class="item-content">                       
                        <div class="item-inner pr-0"> 
                            <div class="item-title-row">
                                <div class="item-title">{{@global.LANGUAGE.ALARM_MSG11}}</div>
                                <div class="item-after align-items-center no-fastclick">
                                    <span class="custom-radio-wrapper color-gray">
                                        <input type="radio" class="input-checkbox-alarm" name="radio-accOn" value="32768" {{#unless accOn}} checked="checked"{{/unless}}>
                                    </span>
                                    <span class="custom-radio-wrapper color-green">
                                        <input type="radio" class="input-checkbox-alarm" name="radio-accOn" value="0"  {{#if accOn}}checked="checked"{{/if}}>
                                    </span>
                                    
                                </div>
                            </div>                        
                        </div>
                    </li> 
                    <!-- <li class="item-content">                       
                        <div class="item-inner pr-0"> 
                            <div class="item-title-row">
                                <div class="item-title">{{@global.LANGUAGE.ALARM_MSG14}}</div>
                                <div class="item-after align-items-center no-fastclick">
                                    <span class="custom-radio-wrapper color-gray">
                                        <input type="radio" class="input-checkbox-alarm" name="radio-illegalIgnition" value="128" {{#unless illegalIgnition}} checked="checked"{{/unless}}>
                                    </span>
                                                        <span class="custom-radio-wrapper color-green">
                                                            <input type="radio" class="input-checkbox-alarm" name="radio-illegalIgnition" value="0"  {{#if illegalIgnition}}checked="checked"{{/if}}>
                                                        </span>
                                                        
                                </div>
                            </div>                        
                        </div>
                    </li>  -->
                    <!-- <li class="item-content">                       
                        <div class="item-inner pr-0"> 
                            <div class="item-title-row">
                                <div class="item-title">{{@global.LANGUAGE.ALARM_MSG13}}</div>
                                <div class="item-after align-items-center no-fastclick">
                                    <span class="custom-radio-wrapper color-gray">
                                        <input type="radio" class="input-checkbox-alarm" name="radio-geofenceOut" value="16" {{#unless geofenceOut}} checked="checked"{{/unless}}>
                                    </span>
                                                        <span class="custom-radio-wrapper color-green">
                                                            <input type="radio" class="input-checkbox-alarm" name="radio-geofenceOut" value="0"  {{#if geofenceOut}}checked="checked"{{/if}}>
                                                        </span>
                                                        
                                </div>
                            </div>                        
                        </div>
                    </li>  -->
                    <li class="item-content">                       
                        <div class="item-inner pr-0"> 
                            <div class="item-title-row">
                                <div class="item-title">{{@global.LANGUAGE.ALARM_MSG17}}</div>
                                <div class="item-after align-items-center no-fastclick">
                                    <span class="custom-radio-wrapper color-gray">
                                        <input type="radio" class="input-checkbox-alarm" name="radio-lowBattery" value="512" {{#unless lowBattery}} checked="checked"{{/unless}}>
                                    </span>
                                    <span class="custom-radio-wrapper color-green">
                                        <input type="radio" class="input-checkbox-alarm" name="radio-lowBattery" value="0"  {{#if lowBattery}}checked="checked"{{/if}}>
                                    </span>
                                    
                                </div>
                            </div>                        
                        </div>
                    </li> 
                    <li class="item-content">                       
                        <div class="item-inner pr-0"> 
                            <div class="item-title-row">
                                <div class="item-title">{{@global.LANGUAGE.ALARM_MSG18}}</div>
                                <div class="item-after align-items-center no-fastclick">
                                    <span class="custom-radio-wrapper color-gray">
                                        <input type="radio" class="input-checkbox-alarm" name="radio-mainBatteryFail" value="4" {{#unless mainBatteryFail}} checked="checked"{{/unless}}>
                                    </span>
                                    <span class="custom-radio-wrapper color-green">
                                        <input type="radio" class="input-checkbox-alarm" name="radio-mainBatteryFail" value="0"  {{#if mainBatteryFail}}checked="checked"{{/if}}>
                                    </span>
                                    
                                </div>
                            </div>                        
                        </div>
                    </li>
                    <!-- <li class="item-content">                       
                        <div class="item-inner pr-0"> 
                            <div class="item-title-row">
                                <div class="item-title">{{@global.LANGUAGE.ALARM_MSG22}}</div>
                                <div class="item-after align-items-center no-fastclick">
                                    <span class="custom-radio-wrapper color-gray">
                                        <input type="radio" class="input-checkbox-alarm" name="radio-custom2LowAlarm" value="1048576" {{#unless custom2LowAlarm}} checked="checked"{{/unless}}>
                                    </span>
                                    <span class="custom-radio-wrapper color-green">
                                        <input type="radio" class="input-checkbox-alarm" name="radio-custom2LowAlarm" value="0"  {{#if custom2LowAlarm}}checked="checked"{{/if}}>
                                    </span>
                                    
                                </div>
                            </div>                        
                        </div>
                    </li>  
                    <li class="item-content">                       
                        <div class="item-inner pr-0"> 
                            <div class="item-title-row">
                                <div class="item-title">{{@global.LANGUAGE.ALARM_MSG20}}</div>
                                <div class="item-after align-items-center no-fastclick">
                                    <span class="custom-radio-wrapper color-gray">
                                        <input type="radio" class="input-checkbox-alarm" name="radio-customAlarm" value="131072" {{#unless customAlarm}} checked="checked"{{/unless}}>
                                    </span>
                                    <span class="custom-radio-wrapper color-green">
                                        <input type="radio" class="input-checkbox-alarm" name="radio-customAlarm" value="0"  {{#if customAlarm}}checked="checked"{{/if}}>
                                    </span>
                                    
                                </div>
                            </div>                        
                        </div>
                    </li> 
                    <li class="item-content">                       
                        <div class="item-inner pr-0"> 
                            <div class="item-title-row">
                                <div class="item-title">{{@global.LANGUAGE.ALARM_MSG19}}</div>
                                <div class="item-after align-items-center no-fastclick">
                                    <span class="custom-radio-wrapper color-gray">
                                        <input type="radio" class="input-checkbox-alarm" name="radio-sosAlarm" value="2" {{#unless sosAlarm}} checked="checked"{{/unless}}>
                                    </span>
                                    <span class="custom-radio-wrapper color-green">
                                        <input type="radio" class="input-checkbox-alarm" name="radio-sosAlarm" value="0"  {{#if sosAlarm}}checked="checked"{{/if}}>
                                    </span>
                                    
                                </div>
                            </div>                        
                        </div>
                    </li>  -->
                    <!-- <li class="item-content">                       
                        <div class="item-inner pr-0"> 
                            <div class="item-title-row">
                                <div class="item-title">{{@global.LANGUAGE.ALARM_MSG23}}</div>
                                <div class="item-after align-items-center no-fastclick">
                                    <span class="custom-radio-wrapper color-gray">
                                        <input type="radio" class="input-checkbox-alarm" name="radio-speeding" value="32" {{#unless speeding}} checked="checked"{{/unless}}>
                                    </span>
                                    <span class="custom-radio-wrapper color-green">
                                        <input type="radio" class="input-checkbox-alarm" name="radio-speeding" value="0"  {{#if speeding}}checked="checked"{{/if}}>
                                    </span>
                                    
                                </div>
                            </div>                        
                        </div>
                    </li>  -->
                    <li class="item-content">                       
                        <div class="item-inner pr-0"> 
                            <div class="item-title-row">
                                <div class="item-title">{{@global.LANGUAGE.ALARM_MSG07}}</div>
                                <div class="item-after align-items-center no-fastclick">
                                    <span class="custom-radio-wrapper color-gray">
                                        <input type="radio" class="input-checkbox-alarm" name="radio-tilt" value="256" {{#unless tilt}} checked="checked"{{/unless}}>
                                    </span>
                                    <span class="custom-radio-wrapper color-green">
                                        <input type="radio" class="input-checkbox-alarm" name="radio-tilt" value="0"  {{#if tilt}}checked="checked"{{/if}}>
                                    </span>
                                    
                                </div>
                            </div>                        
                        </div>
                    </li>   


                          
                </ul>        
            </div>

            <!-- <div class="content-block-title bw-li-switch hintParent" data-hint-text="{{@global.LANGUAGE.PROMPT_MSG064}}" data-hint-title="{{@global.LANGUAGE.ALARM_MSG30}}">
                <span class="showHint">{{@global.LANGUAGE.ALARM_MSG30}}</span>
                <label class="label-switch">
                    <input type="checkbox" class="input-checkbox-alarm" name="checkbox-offline" value="67108864" {{#if offline}} checked="checked" {{/if}}>
                    <div class="checkbox"></div>
                </label> 
            </div>  
            <div class="list-block media-list alarm_list">                  
                <ul>
                    <li >
                        <label class="label-checkbox item-content offline-options-wrapper {{#unless offline}} disabled {{/unless}}" >
                            <input type="checkbox" name="offline-option" value="24" {{#if offline24}}checked="checked"{{/if}}>
                            <div class="item-media">
                                <i class="icon icon-form-checkbox"></i>
                            </div>
                            <div class="item-inner">
                                <div class="item-title">24 {{@global.LANGUAGE.ALARM_MSG31}}</div>
                            </div>
                        </label>
                    </li>
                    <li >
                        <label class="label-checkbox item-content offline-options-wrapper {{#unless offline}} disabled {{/unless}}" >
                            <input type="checkbox" name="offline-option" value="48" {{#if offline48}}checked="checked"{{/if}}>
                            <div class="item-media">
                                <i class="icon icon-form-checkbox"></i>
                            </div>
                            <div class="item-inner">
                                <div class="item-title">48 {{@global.LANGUAGE.ALARM_MSG31}}</div>
                            </div>
                        </label>
                    </li>
                    <li >
                        <label class="label-checkbox item-content offline-options-wrapper {{#unless offline}} disabled {{/unless}}" >
                            <input type="checkbox" name="offline-option" value="72" {{#if offline72}}checked="checked"{{/if}}>
                            <div class="item-media">
                                <i class="icon icon-form-checkbox"></i>
                            </div>
                            <div class="item-inner">
                                <div class="item-title">72 {{@global.LANGUAGE.ALARM_MSG31}}</div>
                            </div>
                        </label>
                    </li>
                </ul>
            </div>  -->
            
            <div class="content-block-title bw-li-switch hintParent" data-hint-text="{{@global.LANGUAGE.PROMPT_MSG062}}</br>{{@global.LANGUAGE.PROMPT_MSG063}}" data-hint-title="{{@global.LANGUAGE.ALARM_MSG23}}">
                <span class="showHint">{{@global.LANGUAGE.ALARM_MSG23}}</span>
                <label class="label-switch">
                    <input type="checkbox" class="input-checkbox-alarm" name="checkbox-speeding" value="32" {{#if speeding}} checked="checked" {{/if}}>
                    <div class="checkbox"></div>
                </label> 
            </div>  
            <div class="list-block list-block-input">
                <ul>                 
                    <li>
                        <label class="label-radio item-content overspeed-radio-wrapper {{#unless speeding}} disabled {{/unless}}">
                            <input type="radio" name="overspeed-radio" value="1"  checked="checked" >
                            <div class="item-inner">
                                <div class="item-title">{{@global.LANGUAGE.ALARM_MSG29}}</div>
                            </div>
                        </label>
                    </li>                   
                    <li>
                        <label class="label-radio item-content overspeed-radio-wrapper {{#unless speeding}} disabled {{/unless}}">
                            <input type="radio" name="overspeed-radio" value="2" >
                            <div class="item-inner">
                                <div class="item-title">{{@global.LANGUAGE.ALARM_MSG28}}</div>
                            </div>
                        </label>
                    </li>                   
                </ul>
            </div>    
               
            
            

            
        </div>
        
    </div>
</div>