<div class="navbar bg-boatwatch  no-border">
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="back link "> <i class="f7-icons" >chevron_left</i></a>
            </div>
            <div class="center sliding ">{{Name}}</div>
            <div class="right sliding">
                <a href="#" class="link startPlayback"><i class="f7-icons icon-header-play"></i></a>
                <a href="#" class="link menuRoutes"><i class="f7-icons icon-other-menu"></i></a>
            </div>
        </div>
    </div>
<div class="pages">
    <div class="page no-swipeback playback_show" data-page="asset.playback.show">
    	

        <div class="page-content">

        	<div class="position_map position_map_playback"> 
                <div class="map" id="map"></div>
                <div class="float_button_wrapper pano_button_wrapper bg-blue">
                    <a href="#" class="link color-boatwatch pano_button" data-lat="{{Lat}}" data-lng="{{Lng}}">
                        <i class="pano_preview_img"></i>                                   
                    </a>
                </div>
        	</div>
            <div class="position_bottom position_bottom_playback">
                  
                <div class="item-input playback_show_slider">
                    <div class="range-slider ">
                        <input class="rangeInput" name="rangeInput" type="range" min="0" max="100" step="1" value="0">
                    </div>            
                </div>
                <div class="row no-gutter help-row">
                    <div class="col-50 ">
                        <p>{{@global.LANGUAGE.ASSET_PLAYBACK_MSG10}}</p>  
                        <p class="position_data">{{Start}}</p>  
                    </div>
                    <div class="col-50 text-a-r">
                        <p>{{@global.LANGUAGE.ASSET_PLAYBACK_MSG11}}</p>  
                        <p class="position_data">{{Finish}}</p>  
                    </div>
                </div>
                <div class="item-input playback_show_slider">
                    <div class="range-slider ">
                        <input class="rangeInputSpeed" name="rangeInputSpeed" type="range" min="1" max="8" step="0.2" value="1">
                    </div>            
                </div>
                <div class="row no-gutter help-row">
                    <div class="col-50 ">
                        <p>{{@global.LANGUAGE.ASSET_PLAYBACK_MSG25}}</p>
                    </div>
                    <div class="col-50 text-a-r">
                        <p>{{@global.LANGUAGE.ASSET_PLAYBACK_MSG26}}</p> 
                    </div>
                </div>
                           
                
            </div>
        </div>
    	
    </div>
</div>