<div class="navbar bg-boatwatch no-border">
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="back link "> <i class="f7-icons" >chevron_left</i></a>
            </div>
            <div class="center sliding ">{{Name}}</div>
            <!-- <div class="right">
                <a href="#" class="link color-boatwatch refreshTrack"><i class="icon-track"></i></a>
            </div> -->
        </div>
    </div>

<div class="pages">
    <div class="page no-swipeback track_page location_page" data-page="asset.location">
    	

        <div class="page-content">

        	<div class="position_map "> 
                <div class="float_button_wrapper pano_button_wrapper bg-darkgrey">
                    <a href="#" class="link color-boatwatch pano_button" data-lat="{{Lat}}" data-lng="{{Lng}}">
                        <i class="pano_preview_img"></i>                                   
                    </a>
                </div>
                <div class="float_button_wrapper route_button_wrapper bg-darkgrey">
                <a href="#" class="link color-white routeButton" data-lat="{{Lat}}" data-lng="{{Lng}}" >
                    <i class="f7-icons icon-other-route color-white"></i>
                    <span>{{@global.LANGUAGE.ASSET_TRACK_MSG17}}</span>                    
                </a>
            </div>
                <div class="map" id="map"></div>
        	</div>
            
        </div>
    	
    </div>
</div>