<div class="navbar no-border">
        <div class="navbar-inner">
            <div class="left">
                <!-- <a href="#" class="back link color-black"> <i class="f7-icons">arrow_left</i></a> -->
                <a href="#" class="link icon-only back"> <i class="f7-icons" >chevron_left</i></a>
            </div>
            <div class="center sliding  ">{{@global.LANGUAGE.MENU_MSG01}}</div>
            <div class="right sliding">
                <!-- <a href="#" class="link color-boatwatch button_search" ><i class="f7-icons">search</i></a> -->
                <a href="#" class="link color-boatwatch addGeofence"><i class="icon-add_geofence"></i></a>
            </div>
        </div>
        <!-- Search Bar -->
                <form class="searchbar searchbarGeofence navbar-inner theme-white dislay_none" >
                    <div class="searchbar-input">
                        <input type="search" placeholder="{{@global.LANGUAGE.COM_MSG06}}">
                        <a href="#" class="searchbar-clear"></a>
                    </div>
                    <a href="#" class="searchbar-cancel">{{@global.LANGUAGE.COM_MSG04}}</a>
                </form>
    </div>

<div class="pages">
    <div class="page geofence_page" data-page="geofence">
    	

        <div class="searchbar-overlay"></div>

        <div class="page-content">
            <div class="list-block media-list no-hairlines list-block-search-geofence geofenceList">          
                
            </div>
        </div>
      
    </div>
</div>