<div class="navbar bg-boatwatch  no-border">
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="link backToIndex "> <i class="f7-icons" >chevron_left</i></a>
            </div>
            <div class="center sliding ">{{@global.LANGUAGE.NOTIFICATION_MSG00}}</div>   
            <div class="right sliding">
                <a href="#" class="link deleteAllNotifications" ><i class="f7-icons icon-header-delete"></i></a>
            </div>             
        </div>
    </div>

<div class="pages">
    <div class="page notification_page" data-page="notification">
    	
    	<div class="page-content " >
            <div class="list-block media-list no-hairlines notification_list">
                
            </div>
        </div>
    </div>

</div>