<div class="navbar ">
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="link back"> <i class="f7-icons" >chevron_left</i></a>
            </div>
            <div class="center sliding">{{@global.LANGUAGE.COM_MSG55}}</div>
            <div class="right sliding">
                
            </div>
            
         
        </div>
    </div>
<div class="pages">
    <div class="page bg-color-page" data-page="report.theft.msg"> 
        <div class="page-content">

        	<div class="content-block">
                <p class="">{{@global.LANGUAGE.PROMPT_MSG055}}</p>
            <p class="">{{@global.LANGUAGE.PROMPT_MSG056}}</p>
            <p class="">{{@global.LANGUAGE.PROMPT_MSG057}}</p>
            <p class="">{{@global.LANGUAGE.PROMPT_MSG058}}</p>
            </div>        	

            <div class="content-block">
                <a href="#" class="button button-fill back reportTheft bg-boatwatch">{{@global.LANGUAGE.COM_MSG56}}</a>
            </div>

        </div>
    </div>
</div>