@charset "UTF-8";

@font-face {
  font-family: "blink";
  src:url("fonts/blink.eot");
  src:url("fonts/blink.eot?#iefix") format("embedded-opentype"),
    url("fonts/blink.woff") format("woff"),
    url("fonts/blink.ttf") format("truetype"),
    url("fonts/blink.svg#blink") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "blink" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "blink" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-header-alarm:before {
  content: "\61";
}
.icon-header-alarm2:before {
  content: "\62";
}
.icon-header-apply:before {
  content: "\63";
}
.icon-header-arrow-back:before {
  content: "\64";
}
.icon-header-delete:before {
  content: "\65";
}
.icon-header-edit:before {
  content: "\66";
}
.icon-header-menu:before {
  content: "\67";
}
.icon-header-pause:before {
  content: "\68";
}
.icon-header-play:before {
  content: "\69";
}
.icon-header-refresh:before {
  content: "\6a";
}
.icon-menu-alarms:before {
  content: "\6b";
}
.icon-menu-home:before {
  content: "\6c";
}
.icon-menu-profile:before {
  content: "\6d";
}
.icon-menu-signout:before {
  content: "\6e";
}
.icon-menu-user-guide:before {
  content: "\6f";
}
.icon-other-arrow:before {
  content: "\70";
}
.icon-other-layers:before {
  content: "\71";
}
.icon-other-remove:before {
  content: "\72";
}
.icon-status-address:before {
  content: "\73";
}
.icon-status-cell:before {
  content: "\74";
}
.icon-status-date:before {
  content: "\75";
}
.icon-status-engine-hours:before {
  content: "\76";
}
.icon-status-geofence:before {
  content: "\77";
}
.icon-status-gps:before {
  content: "\78";
}
.icon-status-power:before {
  content: "\7a";
}
.icon-status-stationary-time:before {
  content: "\41";
}
.icon-status-voltage:before {
  content: "\42";
}
.icon-status-speed:before {
  content: "\43";
}
.icon-status-temperature:before {
  content: "\44";
}
.icon-status-battery:before {
  content: "\45";
}
.icon-status-fuel:before {
  content: "\46";
}
.icon-status-circle:before {
  content: "\47";
}
.icon-other-eye:before {
  content: "\48";
}
.icon-status-log:before {
  content: "\79";
}
.icon-status-heading:before {
  content: "\49";
}
.icon-other-call:before {
  content: "\4a";
}
